.wrapper {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  @include filterBox;
  .label {
    margin-right: 10px;
  }
  :global {
    .ant-select-selector {
      min-width: 200px;
      text-align: left;
    }
  }
}
